<div class="container-fluid" style="margin-top: 175px; margin-left: 400px;">
    <div class="row">
        <img class="col-sm-12 col-md-7" src="../../assets/images/accolite_logo.jpg">
    </div>
    <div class="row">
        
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-footer">
                    <div class="form-group">
                        
                        <div style="cursor:pointer;" class="google-btn" (click)="signInWithGoogle()">
                            <div class="google-icon-wrapper">
                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                            </div>
                            <p class="btn-text"><b>Sign in with Google</b></p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>