<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row" *ngIf="success">
        <div class="alert alert-success" role="alert">
            <a href="/candidate/view" class="alert-link">Added Candidate! Click here to view all candidates</a>
        </div>
    </div>

    <div class="row" *ngIf="failure">
        <div class="alert alert-danger" role="alert">
            <p>Error! {{error}}</p>
        </div>
    </div>
        
    <div>
        <h3 style="text-align: center;">Add Candidate Details</h3>
        <hr style="background:lightgrey; height:1px">
        <div class="col-sm-offset-1" style="color: red;">Fields marked as * are required</div>
        <br>
        <form class="form-horizontal" role="form" [formGroup]="addCandidateForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="name">
                    <span class="text-danger">*</span>
                    Name:
                </label>
                <div class="col-sm-8">
                    <input
                    id="name"
                    type="text"
                    class="form-control"
                    formControlName="name"
                    >
                    <span *ngIf="name.invalid && (name.dirty || name.touched)" style="color: red;">

                        <span *ngIf="name.errors.required">
                            Name is required.
                        </span>
                        <span *ngIf="name.errors.minlength">
                            Name must be at least 2 characters long.
                        </span>
                        <span *ngIf="name.errors.maxlength">
                            Name must not be more than 40 characters long.
                        </span>
                        <span *ngIf="name.errors.pattern">
                            Name should contain letters only.
                        </span>
                    </span>
                </div>
                
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="emailId">
                    <span class="text-danger">*</span>
                    Email:
                </label>
                <div class="col-sm-8">
                    <input
                    id="emailId"
                    type="email"
                    class="form-control"
                    formControlName="email"
                    >

                    <span *ngIf="(!(email.dirty || email.touched) || email.valid) && name.invalid && (name.dirty || name.touched)">
                        <span *ngIf="name.errors.required"><br></span>
                        <span *ngIf="name.errors.minlength"><br></span>
                        <span *ngIf="name.errors.maxlength"><br></span>
                        <span *ngIf="name.errors.pattern"><br></span>
                    </span>

                    <span *ngIf="email.invalid && (email.dirty || email.touched)" style="color: red;">

                        <span *ngIf="email.errors.required">
                            Email is required.
                        </span>
                        <span *ngIf="email.errors.email">
                            Enter a valid email id
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="institute">
                    <span class="text-danger">*</span>
                    Institute:
                </label>
                <div class="col-sm-8">
                    <input
                    id="institute"
                    type="text"
                    class="form-control"
                    formControlName="institute"
                    >
                    <span *ngIf="institute.invalid && (institute.dirty || institute.touched)" style="color: red;">

                        <span *ngIf="institute.errors.required">
                            Institute is required.
                        </span>
                        <span *ngIf="institute.errors.minlength">
                            Institute must be at least 4 characters long.
                        </span>
                        <span *ngIf="institute.errors.maxlength">
                            Institute must not be more than 80 characters long.
                        </span>
                        <span *ngIf="institute.errors.pattern">
                            Institute should contain letters only.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="contact">
                    <span class="text-danger">*</span>
                    Contact:
                </label>
                <div class="col-sm-8">
                    <input
                    id="contact"
                    type="number"
                    class="form-control"
                    formControlName="contact"
                    >
                    <span *ngIf="(!(contact.dirty || contact.touched) || contact.valid) && institute.invalid && (institute.dirty || institute.touched)">

                        <span *ngIf="institute.errors.required"><br></span>
                        <span *ngIf="institute.errors.minlength"><br></span>
                        <span *ngIf="institute.errors.maxlength"><br></span>
                        <span *ngIf="institute.errors.pattern"><br></span>
                    </span>
                    <span *ngIf="contact.invalid && (contact.dirty || contact.touched)" style="color: red;">

                        <span *ngIf="contact.errors.required">
                            Contact is required.
                        </span>
                        <span *ngIf="contact.errors.pattern">
                            Contact must contain 10 digits
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="description">
                    <span class="text-danger">*</span>
                    Job Description:
                </label>
                <div class="col-sm-8">
                    <input
                    id="description"
                    type="text"
                    class="form-control"
                    formControlName="description"
                    >
                    <span *ngIf="description.invalid && (description.dirty || description.touched)" style="color: red;">

                        <span *ngIf="description.errors.required">
                            Description is required.
                        </span>
                        <span *ngIf="description.errors.minlength">
                            Description must be at least 2 characters long.
                        </span>
                        <span *ngIf="description.errors.maxlength">
                            Description must not be more than 40 characters long.
                        </span>
                        <span *ngIf="description.errors.pattern">
                            Description should contain letters only.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="location">
                    <span class="text-danger">*</span>
                    Location:
                </label>
                <div class="col-sm-8">
                    <select id="location" class="form-control" formControlName="location">
                        <option value="Mumbai" selected>Mumbai</option>
                        <option value="Bengaluru">Bengaluru</option>
                        <option value="Chennai">Chennai</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Delhi">Delhi</option>
                        <option value="Gurugram">Gurugram</option>
                    </select>
                    <span *ngIf="(!(location.dirty || location.touched) || location.valid) && description.invalid && (description.dirty || description.touched)">

                        <span *ngIf="description.errors.required"><br></span>
                        <span *ngIf="description.errors.minlength"><br></span>
                        <span *ngIf="description.errors.maxlength"><br></span>
                        <span *ngIf="description.errors.pattern"><br></span>
                    </span>
                    <span *ngIf="location.invalid && (location.dirty || location.touched)" style="color: red;">

                        <span *ngIf="location.errors.required">
                            Location is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="skills">
                    Skills:
                </label>
                <div class="col-sm-8">
                    <input
                    id="skills"
                    type="text"
                    class="form-control"
                    formControlName="skills"
                    >
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label col-sm-3" for="joiningDate">
                    <span class="text-danger">*</span>
                    Joining Date:
                </label>
                <div class="col-sm-8">
                    <input
                    type="date"
                    class="form-control"
                    id="joiningDate"
                    formControlName="joiningDate"
                    >
                    <span *ngIf="joiningDate.invalid && (joiningDate.dirty || joiningDate.touched)" style="color: red;">

                        <span *ngIf="joiningDate.errors.required">
                            Joining Date is required.
                        </span>
                    </span>
                </div>
            </div>

            <label class="col-sm-12 text-danger" *ngIf="!addCandidateForm.valid" style="text-align: center; font-size: medium;">
                You need to enter valid details in order to submit the form
            </label>

            <div class="form-group col-md-12">
                <br>
                <div style="text-align: center;">
                    <button type="submit" [disabled]="!addCandidateForm.valid" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-danger" style="margin-left: 10px;" (click)="onReset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    

</div>
